[submodule "submodules/docker-grav"]
	path = submodules/docker-grav
	url = https://github.com/QSaman/docker-grav.git
[submodule "submodules/nextcloud"]
	path = submodules/nextcloud
	url = https://github.com/QSaman/nextcloud.git
[submodule "submodules/nginx-proxy"]
	path = submodules/nginx-proxy
	url = https://github.com/QSaman/nginx-proxy.git
